Checks: |
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-uppercase-literal-suffix
CheckOptions:
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 0
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: 'none'
